.card-games:hover {
    cursor: pointer;
    transform: scale(1.05);

}

.Poster {
    width: 400px;
    height: 240px;
}

.Poster img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.card-title {
    background-color: rgba(26, 21, 21, 0.76);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 4px #0e0909a4;
}

.card-title h5 {
    white-space: nowrap;
    width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
}